body {
  font-family: 'Gotham-Book', sans-serif;
  font-size: 16px;
}

.site-link {
  color: #f7971e !important;
}

.main-content .request{min-height: 165px !important;}

.site-link:hover {
  color: #f58d09;
  text-decoration: none;
}

p {
  line-height: 1.5625em;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts-hrsolution/gotham-book/Gotham-Book.eot");
  src: url("../fonts-hrsolution/gotham-book/Gotham-Book.woff2") format("woff2"), url("../fonts-hrsolution/gotham-book/Gotham-Book.woff") format("woff"), url("../fonts/gotham-book/Gotham-Book.ttf") format("truetype"), url("../fonts/gotham-book/Gotham-Book.svg#Gotham-Book") format("svg"), url("../fonts/gotham-book/Gotham-Book.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url("../fonts-hrsolution/gotham-medium/Gotham-Medium.eot");
  src: url("../fonts-hrsolution/gotham-medium/Gotham-Medium.woff2") format("woff2"), url("../fonts-hrsolution/gotham-medium/Gotham-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts-hrsolution/gotham-bold/Gotham-Bold.eot");
  src: url("../fonts-hrsolution/gotham-bold/Gotham-Bold.woff2") format("woff2"), url("../fonts-hrsolution/gotham-bold/Gotham-Bold.woff") format("woff"), url("../fonts/gotham-bold/Gotham-Bold.ttf") format("truetype"), url("../fonts/gotham-bold/Gotham-Bold.svg#Gotham-Bold") format("svg"), url("../fonts/gotham-bold/Gotham-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url("../fonts-hrsolution/gotham-light/Gotham-Light.eot");
  src: url("../fonts-hrsolution/gotham-light/Gotham-Light.woff2") format("woff2"), url("../fonts-hrsolution/gotham-light/Gotham-Light.woff") format("woff"), url("../fonts/gotham-light/Gotham-Light.ttf") format("truetype"), url("../fonts/gotham-light/Gotham-Light.svg#Gotham-Light") format("svg"), url("../fonts/gotham-light/Gotham-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1218px;
}

.callus {
  margin-left: auto;
  width: 100%;
  height: 61px;
  line-height: 61px;
  background: #f7971e url(../images-hrsolution/callus-pattern.png) repeat top left;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

@media (min-width: 991px) {
  .callus {
    width: 359px;
    font-size: 18px;
  }
}

.callus-img {
  float: left;
  display: block;
  width: 55px;
  height: 100%;
  background: rgba(0, 0, 0, 0.075) url(../images-hrsolution/icon-mobile.png) no-repeat center;
}

@media (min-width: 768px) {
  .callus-img {
    width: 75px;
  }
}

.callus > strong {
  font-family: 'Gotham-Bold';
}

.header {
  height: 442px;
  background: url(../images-hrsolution/headerbg.jpg) no-repeat top left;
  background-size: cover !important;
}

.header-masthead {
  border-top: 1px solid #397979;
  border-bottom: 1px solid #397979;
}

@media (min-width: 991px) {
  .header-masthead {
    height: 116px;
  }
}

.header-logo-wrapper {
  position: relative;
}

@media (min-width: 991px) {
  .header-logo-wrapper {
    width: 50%;
    float: left;
  }
}

@media (max-width: 990px) {
  .header-logo-wrapper {
    padding: 15px 15px 0;
    margin-bottom: 20px;
  }
}

.header-logo {
  display: inline-block;
  width: 276px;
  height: 40px;
  font-size: 0;
  vertical-align: bottom;
  background: url(/images-hrsolution/site-logo.png) no-repeat top left;
}

@media (max-width: 767px) {
  .header-logo {
    display: block;
  }
}

.header-logo-title {
  display: inline-block;
  font-family: 'Gotham-light';
  font-size: 30.18px;
  color: #fff;
  line-height: 1em;
}

@media (min-width: 1200px) {
  .header-logo-title {
    padding-left: 22px;
    font-size: 40.18px;
  }
}

.header-title {
  color: #f6f7f9;
  font-size: 24.84px;
  font-family: 'Gotham-Book';
  max-width: 668px;
  padding: 62px 15px;
}

@media (min-width: 768px) {
  .header-title {
    font-size: 34.84px;
    padding-top: 124px;
  }
}

.header-title > strong {
  font-family: 'Gotham-Medium';
}

.nav {
  max-height: 340px;
  overflow: auto;
}

@media (min-width: 991px) {
  .nav {
    display: block !important;
    height: auto !important;
    overflow: auto !important;
    float: left;
    width: 50%;
  }
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 991px) {
  .nav ul {
    float: right;
  }
}

@media (min-width: 991px) {
  .nav li {
    float: left;
  }
}

.nav a {
  display: block;
  padding: 10px 12px;
  font-size: 14.25px;
  font-family: 'Gotham-Medium';
  text-transform: uppercase;
  color: #f6f7f9;
}

@media (min-width: 991px) {
  .nav a {
    line-height: 116px;
    padding: 0 35px;
    border-left: 1px solid #397779;
    border-right: 1px solid #397779;
  }
}

@media (min-width: 1400px) {
  .nav a {
    padding: 0 50px;
  }
}

.nav a:hover,
.nav a:focus {
  text-decoration: none;
  background: #f6f7f9;
  color: #397779;
}

.nav-trigger {
  display: block;
  width: 38px;
  height: 38px;
  background: url(../images-hrsolution/menu.png) no-repeat top left;
  background-size: 38px auto;
  position: absolute;
  top: 20px;
  right: 29px;
}

@media (max-width: 320px) {
  .nav-trigger {
    top: 59px;
  }
}

@media (min-width: 991px) {
  .nav-trigger {
    display: none;
  }
}

.main-content {
  padding: 38.25px 0;
}

@media (min-width: 768px) {
  .main-content {
    padding: 153px 0;
  }
}

.main-content-half {
  padding: 19.5px 15px 92.5px;
}

@media (min-width: 768px) {
  .main-content-half {
    padding: 78px 15px 185px;
  }
}

@media (max-width: 767px) {
  .title-navigation {
    margin-bottom: -23px;
  }
}

.title-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title-navigation ul > li {
  width: 50%;
  display: inline-block;
  margin-left: -4px;
  vertical-align: top;
  padding: 0 7.5px;
  margin-bottom: 23px;
}

@media (min-width: 768px) {
  .title-navigation ul > li {
    padding: 0 11.5px;
  }
}

@media (min-width: 991px) {
  .title-navigation ul > li {
    width: 25%;
  }
}

.title-navigation ul > li > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #0d5c5e;
  font-size: 16.4px;
  color: #0d5c5e;
  font-family: 'Gotham-Medium';
  min-height: 122px;
  text-align: center;
  padding: 4px;
}

@media (min-width: 768px) {
  .title-navigation ul > li > a {
    min-height: 172px;
    font-size: 18.4px;
  }
}

.title-navigation ul > li > a:hover,
.title-navigation ul > li > a:focus {
  background: #38a4a5 url(../images-hrsolution/link-hover-pattern.png) repeat top left;
  box-shadow: inset 0 0 0 4px #2e8b8c;
  color: #fff !important;
  text-decoration: none;
}

.title-navigation ul > li._half > a {
  min-height: 49px;
}

@media (min-width: 768px) {
  .title-navigation ul > li._half > a {
    min-height: 74px;
  }
}

.title-navigation ul > li._half > a:not(:last-of-type) {
  margin-bottom: 23px;
}


.contactus {
  background: #f29117 url(../images-hrsolution/orange-pattern.png) repeat top left;
  background-size: cover;
  height: 150px;
  text-align: center;
  line-height: 150px;
  margin: 0;
  color: #fff;
  font-size: 27.02px;
  text-transform: uppercase;
  font-family: 'Gotham-Medium';
  margin-bottom: 0;
  
  
}
.contactus :hover {
	  background: #008d8e url(../images-hrsolution/link-hover-pattern.png) repeat top left;
  
  color: #fff !important;
  text-decoration: none;
	
	
}

@media (min-width: 768px) {
  .contactus {
    height: 250px;
    line-height: 250px;
    margin-bottom: 70px;
    font-size: 47.02px;
  }
}

.contactus > span::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 17px;
  margin-left: 12px;
  background: url(../images/arrow-right.png) no-repeat top left;
}

.footer {
  border-bottom: 1px solid #e4e4e4;
  background: #fbfbfb;
  padding: 19.25px 15px;
  position: relative;
}

@media (min-width: 768px) {
  .footer::after {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    height: 100%;
    width: 1px;
    background: #e4e4e4;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (min-width: 991px) {
  .footer-col:not(:last-of-type) {
    border-right: 1px solid #e4e4e4;
  }
}

.footer-sentence {
  font-size: 9.9px;
  color: #828282;
}

.footer-links {
  margin-bottom: 0px;
}

.footer-links a {
  display: inline-block;
  font-size: 12.75px;
  font-family: 'Gotham-Medium';
  color: #676767;
}

.footer-links a:not(:first-of-type) {
  padding: 0 2px;
}

@media (min-width: 768px) {
  .footer-links a:not(:first-of-type) {
    padding: 0 7.5px;
  }
}

.footer-links a:hover,
.footer-links a:focus {
  text-decoration: none;
  color: black;
}

.copyright {
  font-size: 12.7px;
  background: #fbfbfb;
  color: #cbcbcb;
  font-family: 'Gotham-Book';
  padding: 15px 0;
}

@media (min-width: 768px) {
  .copyright {
    padding: 25px 0;
  }
}

.m-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.m-media-img {
  margin-right: 18px;
}

@media (min-width: 768px) {
  .nav-sidebar {
    width: 100%;
    max-width: 238px;
    margin-top: -26px;
  }
}

.nav-sidebar a {
  display: block;
  background: #38a4a5;
  color: #d2f3ff;
  font-size: 15px;
  padding: 17.5px 12px;
  text-align: center;
}

@media (max-width: 767px) {
  .nav-sidebar a {
    padding: 5px 12px;
    text-align: left;
  }
  .nav-sidebar a br {
    display: none;
  }
}

.nav-sidebar a:hover,
.nav-sidebar a:focus,
.nav-sidebar .active {
  background: #2e8b8c;
  color: #fff;
  text-decoration: none;
}

.modal-contact {
  display: none;
  position: absolute;
  top: 2%;
  left: 50%;
  width: 95%;
  max-width: 1182px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9999;
  background: #fff;
  padding-bottom: 100px;
  overflow: auto;
}

.modal-contact-content {
  margin: auto;
  max-width: 938px;
  padding: 0 15px;
}

.modal-contact-header {
  height: 48px;
  background: #f7971e;
}

.modal-contact-close {
  background: #eb8e17;
  color: #fff;
  display: inline-block;
  line-height: 48px;
  padding: 0 16px;
  text-transform: uppercase;
  font-size: 14px;
}

.modal-contact-close:hover {
  background: #d68012;
  color: #fff;
  text-decoration: none;
}

.contact-map {
  height: 389px;
  background: black;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.h100 {
  height: 100%;
}

.valign {
  display: table;
  width: 100%;
  height: 100%;
}

.valign-target {
  display: table-cell;
  vertical-align: middle;
}

.mb0 {
  margin-bottom: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.vcenter {
  margin-left: -4px;
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.list-company {
  margin: 0;
  opacity: 0.51;
}

.list-company > li {
  margin: 5px 0;
}

@media (min-width: 768px) {
  .list-company > li {
    padding-left: 43px;
    padding-right: 43px;
  }
}

.border-img {
  border: 1px solid #e1e1e1;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb18 {
  margin-bottom: 18px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.go-bold {
  font-family: 'Gotham-Bold';
}

.text-primary {
  color: #117273 !important;
}

.text-primary-light {
  color: #25b7b8;
}

.tsize-title {
  font-size: 28px !important;
}

@media (min-width: 768px) {
  .tsize-title {
    font-size: 36px !important;
  }
}

.tsize-lead {
  font-size: 18px !important;
}

@media (min-width: 768px) {
  .tsize-lead {
    font-size: 22px !important;
  }
}

.divider {
  height: 6px;
  background: #117273;
  margin: 25px 0;
}

@media (min-width: 768px) {
  .divider {
    margin: 50px 0;
  }
}

.text-gray {
  color: #777;
}
.text-gray  a{
	color:#777
}
.divider-gray {
  height: 2px;
  background: #dedede;
  margin: 25px 0;
}

@media (min-width: 768px) {
  .divider-gray {
    margin: 50px 0;
  }
}

.list-info {
  color: #777;
  margin: 0 33px;
}

.list-info li {
  line-height: 1.5625em;
}

.list-hightlight {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-hightlight li {
  color: #d2f3ff;
  padding: 8.5px 15px;
}

@media (min-width: 768px) {
  .list-hightlight li {
    padding: 17px 30px;
  }
}

.list-hightlight li:nth-of-type(even) {
  background: #349596;
  border-bottom: 1px solid #2e8b8c;
}

.list-hightlight li:nth-of-type(odd) {
  background: #38a4a5;
}

.btn-action {
  display: block;
  width: 100%;
  cursor: pointer;
  max-width: 358px;
  margin: auto;
  background: #14abac;
  border-radius: 4px;
  border: 2px solid #008b8c;
  position: relative;
  padding: 10px 20px 10px 107px;
  color: #fff;
  font-size: 14px;
}

@media (max-width: 768px) {
  .btn-action {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .btn-action {
    padding: 10px 10px 10px 107px;
  }
}

@media (min-width: 1200px) {
  .btn-action {
    padding: 10px 20px 10px 107px;
    font-size: 15px;
  }
}

.btn-action-title {
  display: block;
  text-transform: uppercase;
  font-family: 'Gotham-Bold';
  font-size: 18px;
  color: #d5f5ff;
}

@media (min-width: 1200px) {
  .btn-action-title {
    font-size: 21px;
  }
}

@media (max-width: 767px) {
  .btn-action-title {
    font-size: 16px;
  }
}

.btn-action:hover,
.btn-action:focus {
  background: #008b8c;
  color: #fff;
  text-decoration: none;
}

.btn-action::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 91px;
  height: 100%;
  background-color: #008b8c;
  background-repeat: no-repeat;
  background-position: center;
  border-right: 1px solid #0b7b7c;
}

.btn-action-callus::after {
  background-image: url(../images/icon-mobile-vibrate.png);
}

.btn-action-quote::after {
  background-image: url(../images/icon-calc.png);
}

.contact-map iframe{
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */


.payroll-bg {
	text-decoration:none;
	background-color:#349596 !important;
	
}



.panel-accordian {
	margin:auto !important;
	padding:0px !important;
	border:none !important;
	
				}
.panel-accordian-even {
	background:#349596 !important;
	border:1px solid #fff !important;
	}
	
