@charset "utf-8";

/* CSS Document */

@font-face {

    : 'gothamexlightregular';
 src: url('fonts/webfontkit-20140317-055951/gothamexlight-webfont.eot');
 src: url('fonts/webfontkit-20140317-055951/gothamexlight-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/webfontkit-20140317-055951/gothamexlight-webfont.woff') format('woff'),  url('fonts/webfontkit-20140317-055951/gothamexlight-webfont.ttf') format('truetype'),  url('fonts/webfontkit-20140317-055951/gothamexlight-webfont.svg#gothamexlightregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'gothammediumregular';
 src: url('fonts/GothamMedium/gothammedium-webfont.eot');
 src: url('fonts/GothamMedium/gothammedium-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/GothamMedium/gothammedium-webfont.woff') format('woff'),  url('fonts/GothamMedium/gothammedium-webfont.ttf') format('truetype'),  url('fonts/GothamMedium/gothammedium-webfont.svg#gothammediumregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'gothambookregular';
 src: url('fonts/GothamBook/gothambook-webfont.eot');
 src: url('fonts/GothamBook/gothambook-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/GothamBook/gothambook-webfont.woff') format('woff'),  url('fonts/GothamBook/gothambook-webfont.ttf') format('truetype'),  url('fonts/GothamBook/gothambook-webfont.svg#gothambookregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
.header-top.subpage_menu {
}
.about_video {
	background:url(images/youtubebg2.png) no-repeat;
	width: 43%;
	height: 271px;
	margin: 92px 0px;
	position: relative;
	float:left;
}
.video_play {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-8%;
	margin-left:-8%;
}
.about_fsection {
	width:55%;
	float:right;
	margin:110px 0px;
}
.about_fhead {
	font-family: 'gothamexlightregular';
	line-height:36px;
	font-size:25px;
	color:#009394;
	text-transform:lowercase;
	border-bottom:1px solid #64c6c7;
	padding-bottom:25px;
	margin-bottom:25px;
}
.about_fcont {
	font-family: 'gothambookregular';
	line-height:24px;
}
.about_fcont p {
	color:#25b7b8;
	font-size:16px;
	text-align:justify;
	font-weight:normal;
}
.about_second {
	background: url(images/about123.jpg) no-repeat center center;
	background-repeat: no-repeat!important;
	float:left;
	width: 100%!important;
	margin-top: 0px !important;
	height:	427px;
	overflow:hidden;
	float:left;
	background-size:cover;
}
.about_scopespec {
	width:45%;
	float:left;
	min-height:425px;
	height:auto;
}
.about_scope {
	font-family: 'gothamexlightregular';
	font-size:15px;
	height:290px;
	color:#fbfbfb;
	line-height:35px;
	text-align:justify;
}
.about_scope p {
	color:#fbfbfb;
	line-height:24px;
}
.about_scope h1 {
	color:#c2eaea;
	font-size:26px;
	line-height:24px;
	font-family: 'gothammediumregular';
}
.scope_text {
	padding:60px 0px;
}
.about_spec {
	min-height:140px;
	height:auto;
}
.spec_head {
	padding:60px 0px;
	font-size:24px;
	line-height:35px;
	font-family: 'gothambookregular';
	color:#fbfbfb;
	float:right;
	text-transform:uppercase;
}
.about_pagelist {
	float:right;
	width:35%;
	margin-top:50px;
}
.about_pagelist .specialization {
	width:143px;
	height:50px;
	margin-bottom:20px;
	margin-right:25px;
	border:1px solid #74cdce;
	color:#767676;
}
.about_pagelist .specialization h2 a {
	font-size:13px;
	font-family: 'gothambookregular';
	color:#fff;
}
.gapdivision_about {
	min-height: 10px;
	background: #25b7b8;
	height: auto;
	/* margin-top: 0.5px; */
	display: none;
}
.about_third {
	width:100%;
	clear:both;
	background:url(images/midsection_about.jpg) no-repeat center top;
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	background-size: cover!important;
	float:left;
}
.about_mission {
	width:627px;
	margin:0 auto;
}
.mission_content {
	padding:35px 0px;
}
.mission_content p {
	text-align:center;
	text-indent:10px;
	color:#009394;
	font-family: 'gothambookregular';
	font-size:16px;
}
.mission_content h1 {
	font-size:16px;
	text-align:center;
	font-family: 'gothammediumregular';
}
.about_four {
	float:left;
	clear:both;
	width:100%;
	margin:90px 0px;
}
.about_onsite {
	width:43%;
	float:left;
}
.onsite_text {
	color:#9e9e9e;
	background:url(images/none.png) no-repeat left;
	margin-left:0px;
	padding-left:50px;
	font-size:12px;
	margin-top:15px;
	font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial;
}
.onsite_text a {
	color:#f7971e;
}
.about_process {
	width:57%;
	float:left;
	padding-top:30px;
	padding-left:35px;
	min-height:473px;
	height:auto;
	background:#f9f9f9;
}
.process_title {
	color:#009394;
	font-size:25px;
	font-family: 'gothammediumregular';
}
.process_content {
	width:91%;
}
.process_content p {
	font-family: 'gothambookregular';
	color:#25b7b8;
	font-size:16px;
	text-align:justify;
}

.process_content p a {
	font-family: 'gothambookregular';
	font-size:16px;
	color:#009394;
	border-bottom: 1px solid #bbdfe0;
}

.process_content ul {
	margin-top:30px;
	padding:0px;
}
.process_content li {
	background:url(images/arrowlist.png) no-repeat left;
	text-indent:30px;
	color:#989898;
	line-height:24px;
	font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial;
}
/* Services Page */

.container.service_temp {
	padding:0px;
}
.service_temp {
	float:left;
	width:100%;
}
.service_first {
	width:100%;
	float:left;
}
.service_image {
	width:65%;
	float:left;
}
.service_text {
	padding:32px 0px;
	width:34%;
	float:right;
	border-top:1px solid #9fdcdc;
	border-bottom:1px solid #9fdcdc;
}
.service_head {
	font-family: 'gothambookregular';
	line-height:24px;
	font-size:25px;
	color:#009394;
	padding-bottom:10px;
	text-transform:lowercase;
}
.service_head span {
	font-family: 'gothammediumregular';
}
.about_fhead.service_fhead {
	border: none;
	margin-bottom: 0px;
	padding-bottom:50px;
}
.service_cont p {
	color:#25b7b8;
	line-height:24px;
	font-family: 'gothambookregular';
	font-size:16px;
	text-align:justify;
	padding-top:20px;
}
.service_req {
	padding:0px 0px;
	width:40%;
	margin:0 auto;
}
.service_req.stemp {
	padding:0px 0px;
	width:90%;
	margin:0 auto;
}
.req {
	width:343px;
	height:86px;
	background:#f78f20;
	float:left;
	text-align:center;
	line-height:83px;
	font-family: 'gothambookregular';
}
.req.req_perm {
	float:left;
}
.req.req_regbox {
	float:left;
	color:#fff;
	font-size:31px;
}
.req.req_talentbox {
	float:right;
	color:#fff;
	font-size:31px;
}
.req.req_regbox:hover {
	color:teal;
}
.req.req_talentbox:hover {
	color:teal;
}
.req.tal_temp {
	color:#fff;
	font-size:31px;
}
.req.tal_temp:hover {
	color:teal;
}
.req a {
	color:#fff;
	font-size:31px;
}
.req a:hover {
	color:teal!important;
}
.specialization_about a {
	color:#afe7e6;
	font-size:17px;
	font-family: 'gothamexlightregular';
	text-transform:lowercase;
	padding-left:30px;
	padding-right:30px;
}
.service_second {
	margin-top:90px;
	background:#2fb9ba;
	width:100%;
	float:left;
	clear:both;
}
.service_mid {
	padding:45px 0px;
	width:100%;
	background:url(images/service_mid.png) no-repeat;
}
.service_strat {
	width:45%;
	float:left;
	color:#fff;
}
.service_strat h1 {
	font-size:25px;
	color:#c2eaea;
	font-family: 'gothammediumregular';
	margin:0 0 10px;
}
.service_strat p {
	font-size:16px;
	color:#fff;
	font-family: 'gothambookregular';
}
.service_exp p {
	font-size:16px;
	color:#fff;
	font-family: 'gothambookregular';
}
.service_exp {
	width:48%;
	float:right;
	color:#fff;
}
.service_exp h1 {
	font-size:25px;
	color:#c2eaea;
	font-family: 'gothammediumregular';
	margin:0 0 10px;
}
.service_infmn {
	background:#22aaab;
	width:100%;
	height:60px;
	clear:both;
	float:left;
	text-transform:uppercase;
	font-family: 'gothambookregular';
	text-align:center;
	line-height:140px;
	font-size:20px;
	color:#fff;
	border-top:1px solid #36b2b3;
}
.service_infmn_employer {
	background:#22aaab;
	width:100%;
	height:140px;
	clear:both;
	float:left;
	text-transform:uppercase;
	font-family: 'gothambookregular';
	text-align:center;
	line-height:140px;
	font-size:20px;
	color:#fff;
	border-top:1px solid #36b2b3;
}
.about_process.service_temp {
	width:57%;
}
.service_infmn span {
	font-family: 'gothammediumregular';
}
.service_third {
	width:100%;
	float:left;
	clear:both;
}
.service_video {
	float: left;
	height: auto !important;
	margin: 0 auto;
	width: 100%;
}
.service_video1 {
	background: url(images/ytvideo1.jpg) no-repeat;
	background-size:cover;
	float: left;
	height: 271px;
	position: relative !important;
	width: 33.33%;
}
.service_video2 {
	background:url(images/ytvideo2.jpg) no-repeat;
	background-size:cover;
	float: left;
	height: 271px;
	position: relative !important;
	width: 33.33%;
}
.service_video3 {
	background:url(images/ytvideo3.jpg) no-repeat;
	background-size:cover;
	float: left;
	height: 271px;
	position: relative !important;
	width: 33.33%;
}
.service_video1 a, .service_video2 a, .service_video3 a {
	float: left;
	height: 51px;
	left: 25%;
	position: absolute !important;
	top: 36%;
	width: 193px;
}
.service_box {
	/*position:absolute;*/

	/*top:50%;*/

	/*left:25%;*/

	width:193px;
	height:51px;
	background:#24a5a5;
	color:#fff;
	/*border:1px solid #fff;*/

	text-align:center;
	padding:5px;
	font-family: 'gothammediumregular';
	margin:0 auto;
	text-align:center;
	margin-top:30%;
	vertical-align:middle;
	display:table-cell;
	font-weight:lighter;
}
.talent_box {
	position:absolute;
	top:50%;
	left:25%;
	width:193px;
	height:51px;
	background:#24a5a5;
	color:#fff;
	text-align:center;
	line-height:51px;
	margin:0 auto;
	font-family: 'gothammediumregular';
}
.service_business h1 a {
	font-family: 'gothammediumregular';
	font-size:25px;
	color:#009394;
	padding-bottom:20px;
	border-bottom:1px solid #64c6c7;
}
.about_four.service_temp {
	margin-bottom:0px;
}
.service_business {
	width:91%;
}
.service_business p {
	font-family: 'gothambookregular';
	color:#25b7b8;
	font-size:16px;
	text-align:justify;
}
.service_business p a {
	font-family: 'gothambookregular';
	font-size:16px;
	color:#009394;
	border-bottom: 1px solid #bbdfe0;
}
.about_process.service_temp {
	min-height:590px;
	height:auto;
}
.about_process.tal_temp {
	height:1000px;
}
.skills_text {
	width:50%;
	margin:0 auto;
}
.skills_text h1 {
	font-weight:bold;
	font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial;
	font-size:13px;
	color:#009394;
	line-height:18px;
	padding-top:10px;
}
.skills_text ul {
	padding-left:0px;
}
.skills_text li {
	font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial;
	font-size:13px;
	background:url(images/listimage_services.png) no-repeat left;
	text-indent:20px;
	color:#9e9e9e;
	padding-bottom:5px;
}
.skills_text li a {
	color:#9e9e9e;
}
.skills_text li.booklist_services {
	background:url(images/booklist_services.png) no-repeat left;
	text-indent:20px;
}
.about_process.service_temp .process_title h1 a {
	width:50%;
	padding-bottom:20px;
	border-bottom:1px solid #64c6c7;
	margin-bottom:20px;
	color: #009394;
	font-size: 25px;
	font-family: 'gothammediumregular';
}
.about_process.tal_temp .process_content {
	padding-top:15px;
	padding-bottom:20px;
}
.about_process.tal_temp .process_title h1 a {
	width:50%;
	padding-bottom:20px;
	border-bottom:1px solid #64c6c7;
	margin-bottom:20px;
	color: #009394;
	font-size: 25px;
	font-family: 'gothammediumregular';
}
.about_process.service_temp .process_content {
	padding-top:15px;
	padding-bottom:40px;
}
.service_videos1.talent {
	background:url(images/ytvideo_talent1.png) no-repeat center center;
	background-size :cover;
	width: 33.3%;
	height: 271px;
	position: relative;
	float:left;
}
.service_videos2.talent {
	background:url(images/ytvideo_talent2.png) no-repeat center center;
	background-size :cover;
	width: 33.3%;
	height: 271px;
	position: relative;
	float:left;
}
.service_videos3.talent {
	background:url(images/ytvideo_talent3.png) no-repeat center center;
	background-size :cover;
	width: 33.3%;
	height: 271px;
	position: relative;
	float:left;
}
.req.tal_temp {
	width:424px;
}
.login_talent, .join_talent {
	font-size:13px;
	color:#dfffff;
	font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial;
	background:#f78f20;
	float:left;
	margin-right:20px;
	text-align:center;
	font-weight:400;
	line-height:14px;
}
.login_talent a, .join_talent a {
	color:#dfffff;
}
.login_talent {
	height:34px;
	padding:10px;
}
.join_talent {
	height:34px;
	padding:10px;
}
.login_talent:hover, .join_talent:hover {
	background:#7c7c7c;
}
.service_exp.tal_temp ul {
	float:left;
	width:50%;
	padding-left:0px;
}
.service_exp.tal_temp li {
	background:url(images/dot2.png) no-repeat left;
	font-family: 'gothambookregular';
	font-size:14px;
	padding-left:10px;
}
.service_exp.tal_temp li a {
	color:#fff;
}
.talent_career {
	padding-bottom:30px;
}
.talent_career h1 {
	font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial;
	font-size:16px;
	font-weight:bold;
	line-height:24px;
	padding:10px 0px;
	margin:0px;
}
.talent_career p {
	color:#9e9e9e;
	font-size:13px;
	font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial;
	width:90%;
}
.talent_contact {
	width:100%;
	margin:0 auto;
}
.tal_text {
	border:1px solid #e1edf3!important;
	width:90%!important;
	height:44px!important;
}
/* Placeholder style */

.wpcf7 .watermark {
	color:#919191 !important;
	font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial!important;
	font-size:13px;
	font-weight:normal!important;
}

::-webkit-input-placeholder {
 color:#919191 !important;
 font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial!important;
 font-size:13px;
 font-weight:normal!important;
}

:-moz-placeholder {
 color:#919191 !important;
 font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial!important;
 font-size:13px;
 font-weight:normal!important;
}



:-ms-input-placeholder {
 color:#919191 !important;
 font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial!important;
 font-size:13px;
 font-weight:normal!important;
}
/* Placeholder style ends*/

.tal_textarea {
	border:1px solid #e1edf3!important;
	width:90%!important;
	height:209px!important;
}
.tal_submit {
	width:75%;
	float:right;
	background:#f78f20!important;
	border:none!important;
	text-transform:lowercase!important;
	margin-right:10%;
}
.wpcf7-form p {
	margin:0 0 15px;
}
div.wpcf7-validation-errors {
	margin-top:30px!important;
	margin-left:0px!important;
	color:#000!important;
	float:left;
}
.wpcf7-not-valid-tip {
	clear:both;
}
/* Contact Page */

.contact_first {
	width:100%;
	margin:90px 0px;
	float:left;
}
.container.contact_wrapper {
	background:url(images/contactfrontwrapper.png) no-repeat;
	height:745px;
}
.each_address {
	float:left;
	width:100%;
	margin-bottom:5px;
}
.contact_gmap {
	float:left;
	height:300px;
	overflow:hidden;
}
.contact_address {
	float:left;
	margin-left:4%;
	width:50%;
	padding:35px 0px;
}
.contact_maddress {
	color:#9d9d9d;
	font-family: 'gothammediumregular';
	font-size:13px;
	min-height:100px;
	height:auto;
}
.main_address {
	float:left;
}
.optional_address {
	float:right;
}
.contact_optaddress {
	color:#9d9d9d;
	font-family: 'gothammediumregular';
	font-size:13px;
	min-height:110px;
	height:auto;
}
.contact_maddress h1 {
	font-family: 'gothambookregular';
	font-size:14px;
	color:#009394;
	margin:0px;
}
.contact_optaddress h1 {
	font-family: 'gothambookregular';
	font-size:14px;
	color:#009394;
	margin:0px;
}
.contact_cbutton {
	width:73px;
	height:26px;
	background:#f78f20;
	font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial!important;
	font-size:13px;
	color:#dfffff;
	line-height:26px;
	text-align:center;
	margin-top:10px;
}
.contact_cbutton a {
	color:#ffffff;
}
.contact_cbutton a:hover {
	color:teal!important;
}
#contact_second {
	width:100%;
	background:url(images/contact_bottom.png) no-repeat center top;
	clear:both;
	float:left;
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	background-size: cover!important;
	padding:60px 0px;
}
.fcontact_form {
	clear:both;
	float:left;
	width:100%;
}
.conpage_text {
	padding-bottom:30px;
}
.conpage_text p {
	font-family: 'gothambookregular';
	font-size:22px;
	color:#25b7b8;
}
.conpage_text h1 {
	color:#009394;
	font-family: 'gothammediumregular';
	font-size:33px;
	margin:0px;
}
.con_text, .con_select, .con_textarea {
	border:1px solid #e1edf3!important;
	float:left;
	margin-right:2%!important;
	margin-bottom:15px!important;
	color:#000;
	background:#fff;
	font-weight:normal;
}
.fcontact_form #email {
	background:#fff!important;
	padding: .5em 1em;
	width:39%;
	height:46px!important;
}
.fcontact_form .con_text, .fcontact_form .con_select {
	width:39%;
	height:46px!important;
}
.fcontact_form .con_textarea {
	width:80%;
	height:210px!important;
}
.fcontact_form .con_select {
	color:#919191;
}
.fcontact_form .con_submit {
	float:right;
	background:#f78f20!important;
	color:#fff!important;
	margin-right:20%;
	border:none!important;
	width:20%;
	text-transform:lowercase!important;
	font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial!important;
	font-size:13px!important;
	font-weight:normal;
}
.con_submit:hover {
	color:teal!important;
}
.reqform_head {
	color:#009394;
	font-family: 'gothammediumregular';
	font-size:22px;
	padding-bottom:20px;
	border-bottom:5px solid #64c6c7;
	margin-bottom:40px;
}
.reqserconspace label, .reqserfname label, .reqserlname label {
	font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial!important;
	font-size:13px!important;
	color:#777777;
	padding-bottom:5px;
}
.reqserconform span.startick {
	color:red;
}
.reqserconform {
	width:100%;
	margin:0 auto;
	float:left;
	clear:both;
	margin-bottom:50px;
}
.reqsercon_text, .reqsercon_select {
	width:100%!important;
	height:29px!important;
	border:1px solid #d2d2d2!important;
}
.reqsercon_textarea {
	width:100%!important;
	height:110px!important;
	border:1px solid #d2d2d2!important;
}
.reqsercon_text.fname {
	height:29px;
	border:1px solid #d2d2d2;
}
.reqserfname {
	float:left;
	margin-right:15px;
	width:50%;
}
.reqsercon_text.surname {
	width:48%!important;
	height:29px;
	border:1px solid #d2d2d2;
}
.reqsercon_select.minedu {
	color:#777777;
}
.reqserconspace {
	margin-top:25px;
}
.reqserconspace #email {
	background-color:white!important;
}
.reqsercon_submit {
	float:right;
	background:#f78f20!important;
	color:#fff!important;
	border:none!important;
	width:20%;
	text-transform:lowercase!important;
	font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial!important;
	font-size:13px!important;
	margin-top:27px;
}
.reqserminsel {
	width:27%;
	float:left;
}
.reqsermintext {
	width:70%;
	float:right;
}
/* Talent Page */

.privacy_fsection.talent {
	padding-bottom:72px;
}
.privacy_fsection.global {
	padding-bottom:72px!important;
}
.find_tal_subpage {
	width:100%;
	margin-bottom:20px;
	float:left;
}
.find_tal_sub_head {
	width:100%;
	height:90px;
	background:#22aaab;
	line-height:90px;
	float:left;
}
.find_tal_sub_head h2 {
	background:url(images/find_talent_head_right.png) no-repeat right;
	margin-right:20px;
}
.find_tal_sub_head h2 {
	padding-left:25px;
	color:#fff;
	font-family: 'gothambookregular';
	font-size:24px;
}
.find_tal_sub_head h2 a {
	color:#fff;
	font-family: 'gothambookregular';
	font-size:24px;
}
.find_tal_sub_inner {
	width:100%;
	height:65px;
	background:#009292;
	line-height:65px;
	float:left;
}
ul.find_tal_sub_ul {
	float:left;
	clear:both;
	width:100%;
	height:65px;
	padding-left:0px;
}
ul.find_tal_sub_in {
}
.find_tal_sub_ul li {
	float:left;
	width:25%;
	text-align:center;
	text-transform:uppercase;
	font-family: 'gothambookregular';
	font-size:20px;
}
.find_tal_sub_ul li a {
	color:#fff;
}
.find_tal_sub_ul li:hover {
	background:url(images/findtal_toparrow.png) no-repeat center top #008888;
}
.sydney_thumbnail {
	background: url(images/sydney.jpg) no-repeat;
	background-size: cover;
	height: 198px;
	background-position: 0% 20%;
}
.brisbane_thumbnail {
	background: url(images/brisbane.jpg) no-repeat;
	background-size: cover;
	height: 198px;
	background-position: 0% 50%;
}
.melbourne_thumbnail {
	background: url(http://people2people.com.au/wp-content/uploads/2015/10/melbourne.jpg) no-repeat;
	background-size: cover;
	height: 198px;
	background-position: 0% 50%;
}
.chatswood_thumbnail {
	background: url(images/chatswood.jpg) no-repeat;
	background-size: cover;
	height: 198px;
}
.parramatta_thumbnail {
	background: url(http://people2people.com.au/wp-content/uploads/2015/10/parramatta.jpg) no-repeat;
	background-size: cover;
	height: 198px;
	background-position: 0% 50%;
}
.container.containersydney {
	width: 1050px;
	height: auto;
	margin-top: -50px;
	background:url(images/sydneyback.png) no-repeat;
	padding:35px;
}
.leftside_sydney {
	width:21%;
	border:1px solid #eeeeee;
	border-radius:8px;
	float:left;
}
.leftside_sydney h1 {
	font-size:13px;
	color:#f78f20;
	margin-bottom:0px;
	line-height:24px;
	padding:10px;
	padding-bottom:0px;
}
.leftside_sydney p {
	font-size:13px;
	color:#9d9d9d;
	font-family: 'gothammediumregular';
	padding:10px;
}
.rightside_sydney {
	float:right;
	width:75%;
}
.rightside_sydney h2 {
	font-family: 'gothambookregular';
	font-size:33px;
	margin-bottom:0px;
}
.rightside_sydney span {
	font-family: 'gothammediumregular';
	font-size:33px;
	margin-bottom:0px;
}
.rightside_sydney h2 a {
	color:#009394;
}
.rightside_sydney .pspec p {
	color: #25B7B8 !important;
	font-family: 'gothambookregular';
	font-size: 16px;
	font-weight: normal;
	padding-top:20px;
	width: 95%;
}
.pagelist_places {
	padding: 30px 0px;
	width: 60%;
	margin: 0 auto;
	text-align:center;
}
ul.listpage_offices li {
	display:inline-block;
	padding:0px 5px;
	border-right:1px solid #25b7b8;
	text-transform:lowercase;
}
ul.listpage_offices li:last-child {
	border-right:none;
}
ul.listpage_offices li a {
	color:#25b7b8;
}
.office_finalsection {
	width:85%;
	float:left;
	margin-bottom:200px;
}
.rightside_sydney #phone, .rightside_sydney #email {
	border: 1px solid #919191 !important;
	color: #000000;
	float: left;
	margin-bottom: 15px !important;
	width:60%;
	height:44px;
	font-weight:normal;
	background:none;
}
.rightside_sydney #email {
	padding: .5em 1em;
}
.rightside_sydney .office_fname {
	border: 1px solid #919191 !important;
	color: #000000;
	float: left;
	margin-bottom: 15px !important;
	width:50%;
	height:44px;
	font-weight:normal;
	background:none;
}
.rightside_sydney .office_lname {
	border: 1px solid #919191 !important;
	color: #000000;
	margin-bottom: 15px !important;
	width:50%;
	height:44px;
	font-weight:normal;
	background:none;
	float:right;
	width:45%;
	margin-right:0%!important;
}
.rightside_sydney textarea {
	width:100%;
	resize:none;
	height:210px;
	border: 1px solid #919191 !important;
}
.rightside_sydney input[type="submit"] {
	background: none repeat scroll 0 0 #F78F20 !important;
	border: medium none !important;
	color: #FFFFFF !important;
	float: right;
	font-family: 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial !important;
	font-size: 13px !important;
	margin-right: 7%;
	text-transform: lowercase !important;
	width: 20%;
	margin-top:5%;
}
.privacy_thumbnail.findtalent {
	background:url(images/find_talentfeatured.png) no-repeat left;
	background-size:cover;
}
.privacy_thumbnail.recognition {
	background:url(images/recognition.jpg) no-repeat left;
	background-size:cover;
}
.privacy_thumbnail.globalpart {
	background:url(images/global_partnerships.jpg) no-repeat left;
	background-size:cover;
}
.needadviceform .tal_text, .needadviceform textarea, .needadviceform #email {
	margin: 0 0 15px;
}
.needadviceform #email {
	background:#fff;
	padding: .5em 1em;
}
.find_tal_sub_ul.brisbraneremoved123 li {
	width:33.3% !important;
}
/*.tooltip {
      position: absolute;
      width: 100px;
      height: 20px;
      line-height: 20px;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      color: rgb(113, 157, 171);
      background: rgb(255, 255, 255);
      border: 4px solid rgb(255, 255, 255);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
}
.tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: #FFFFFF transparent transparent transparent;
      top: 44px;
      left: 50px;
}*/
.find_tal_in {
	position:relative;
}
.tooltip { /* hide and position tooltip */
	top:-40px;
	color:#009292;
	border-radius:5px;
	opacity:0;
	position:absolute;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	left: 125px;
	width: 250px;
	background:white;
}
.find_tal_in:hover .tooltip { /* display tooltip on hover */
	opacity:1;
}
.find_tal_in:hover .tooltip.class_4, .find_tal_in:hover .tooltip.class_3, .find_tal_in:hover .tooltip.class_2, .find_tal_in:hover .tooltip.class_1, .find_tal_in:hover .tooltip.class_0 { /* display tooltip on hover */
	opacity:0;
}
.global_first {
	width:100%;
	float:left;
	background:#22aaab;
	height:140px;
	text-align:center;
	font-size:53px;
	line-height:140px;
	color:#fff;
	text-transform:uppercase;
	font-family: 'gothammediumregular';
	clear:both;
}
.global_second {
	margin:72px 0px;
	float: left;
	width: 100%;
	clear: both;
	padding-bottom: 150px;
}
.recruitment_country {
	margin-bottom:100px;
	float:left;
	width:100%;
	clear:both;
}
.rec_count_head h2 a {
	font-family: 'gothammediumregular';
	font-size:25px;
	color:#009394;
	padding-bottom:25px;
	margin-bottom:65px;
}
.rec_count_logo {
	float:left;
	width:auto;
	margin-right:8%;
	margin-top: 65px;
}
.rec_count_logo.awards {
	width:15%;
	margin-right:1.5%;
}
.rec_count_logo.awards.awa2, .rec_count_logo.awards.awa3, .rec_count_logo.awards.awa4, .rec_count_logo.awards.awa5 {
	cursor:default;
	pointer-events:none;
}
.recognition_awards {
	float:left;
	width:100%;
	clear:both;
	margin-bottom:120px;
}
.recognition_association {
	float:left;
	width:100%;
	clear:both;
	margin-bottom:120px;
}
.rec_assoc_head h2 a {
	font-family: 'gothammediumregular';
	font-size:25px;
	color:#009394;
	padding-bottom:25px;
	margin-bottom:65px;
}
.assoc_border {
	width:30%;
	border-bottom:1px solid #64c6c7;
}
.ourpeople_headtext {
	position: absolute;
	bottom: 3%;
	font-family: 'gothambookregular';
	color:#009394;
	font-size:27px;
}
.container.ourpeople {
}
.ourpeople_headtext span {
	font-family: 'gothammediumregular';
}
.ourpeople_first {
	min-height:120px;
	height:auto;
	width:100%;
	float:left;
	clear:both;
	background:#00abaa;
}
.ourpeople_second {
	min-height:100px;
	height:auto;
	width:100%;
	float:left;
	clear:both;
	background:#009292;
}
.ourpeople_third {
	width:100%;
	float:left;
	clear:both;
	margin-top:55px;
}
.page .ourpeople_third {
	display:none;
}
.archive .ourpeople_third {
	display:block;
}
.ourpeople_thead {
	color: #009394;
	font-family: 'gothammediumregular';
	font-size: 22px;
	padding-bottom: 20px;
	border-bottom: 5px solid #64c6c7;
	margin-bottom: 40px;
}
.ourpeople_totalcontent {
	float:left;
	width:100%;
	clear:both;
	margin-bottom:100px;
}
.ourpeople_postphoto {
	position:relative;
	width:189px;
}
.ourpeople_cover {
	float:left;
	width:189px;
	height:193px;
	overflow:hidden;
}
.ourpeople_postdetails {
	float:right;
	width:78%;
}
.people_posttitlesection {
	margin-bottom:15px;
}
.ourpeople_posttitle a {
	font-size:17px;
	color:#009394;
	font-family: 'gothammediumregular';
}
.ourpeople_postdesignation {
	color:#00aaaa;
	font-size:14px;
	font-family: 'gothammediumregular';
	padding-bottom:15px;
}
.ourpeople_postcont {
	font-size:13px;
	color:#898989;
	font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial!important;
}
.peopletitleborder {
	border-bottom:1px solid #6ecacb;
	width:12%;
}
.people_contactme {
	height:33px;
	position:absolute;
	bottom:-30px;
	width:100%;
}
.pcontactmehead {
	height: 33px;
	float: left;
	width: 66%;
	padding-left:10px;
	line-height:33px;
	color:#fff;
	font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial!important;
	font-size:12px;
	font-weight:bold;
	background:#009292;
}
.pcontactmehead a {
	color:#fff;
}
.pcontactmetwt {
	background: #008888;
	width: 17%;
	float: left;
	height: 33px;
}
.pcontactmelinked {
	background: #007979;
	height: 33px;
	float: left;
	width: 17%;
}
.pctweet, .pclinked {
	padding-top:10px;
	text-align:center;
}
.shade {
	background:url(images/shade.png) no-repeat;
	width:100%;
	height:16px;
	position:absolute;
	bottom:3px;
}
.searchandfilter {
	width:865px;
	margin:0 auto;
}
.searchandfilter h4 {
	color:#fff;
	font-size:16px;
	font-family: 'gothammediumregular';
}
.searchandfilter input[type="submit"] {
	width:225px;
	height:55px;
	z-index: 9999;
	position: absolute;
	left: 38%;
	bottom: -100%;
	background:#f78f20;
	color:#fff!important;
	border:none!important;
	font-size:25px;
	font-family: 'gothammediumregular';
}
.searchandfilter ul {
	position:relative;
}
.postform {
	height:45px;
	line-height:45px;
	padding:0px!important;
	font-family:'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif, Arial!important;
	font-size:14px;
	color:#777777;
}
.ourpeople_postcont p {
	text-align:justify;
}
.glob_border {
	width:30%;
	border-bottom:1px solid #64c6c7;
}
.ppt {
	display:none !important;
}
.gm-style .place-card {
	display:none !important;
}
.single .post {
	margin:30px 0px;
}
.single .ftpimagefix {
	display:none;
}
.archive input[type="submit"] {
	color:#000;
}
.alignleft a, .alignright a {
	color:teal;
	font-size:16px;
}
.specialdiv {
	display:none;
}
.ourpeople_thumbnail.spetop, .specilization_thumbnail.spetop {
	height:276px;
}