.container:after, .container:before {
    display: table;
    content: " ";
}
.searchbox.searchboxhome {
    padding: 0px;
}

.searchbox.searchboxhome {
    padding: 0px;
}
.searchbox.searchboxhome {
    padding: 0px;
}
.searchbox {
    background: #00abaa;
    padding: 30px 0;
}
.searchbox.searchboxhome {
    padding: 0px;
}
.hleft {
    clear: both;
    background: url(../images/hosrizontal-divider.png) no-repeat bottom;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.h2thumb {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 20px;
}
a img {
    border: none;
}
#main-content {
    line-height: 1.5;
}
.h2title {
    margin: 0px;
    padding: 0px;
}
.h2title a {
    font-family: 'gothamexlightregular';
    font-size: 20px;
    color: #fff;
}
.h2title span {
    font-weight: bold;
}
.excont p, .excont {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding-bottom: 20px;
}
.excont {
    clear: both;
}
.but {
    background: none repeat scroll 0 0 #009192;
    border-radius: 2px;
    padding: 7px 15px;
    width: auto;
    float: left;
    margin-right: 10px;
}
.but a {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
	
    color: #fff;

}
.col-xs-12.col-sm-3 {
    background: url(../images/vertical-divider.png) repeat-y scroll right center rgba(0, 0, 0, 0);
    padding-bottom: 50px;
    padding-top: 50px;
}
.hleft {
    clear: both;
    background: url(../images/hosrizontal-divider.png) no-repeat bottom;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.h2thumb {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 20px;
}
.col-xs-12.col-sm-3 {
    padding-left: 30px;
    padding-right: 30px;
}
.col-xs-12.col-sm-3.col12345 {
    background: none !important;
}

.firstrecord_fullwidth_one {
    padding: 60px 0px 0px 0px;
    background: url(../images/handshake.jpg);
    background-repeat: no-repeat!important;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    background-size: cover!important;
    width: 100%!important;
    margin-top: 0px !important;
    min-height: 473px !important;
    height: auto!important;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.col-xs-12.firstrecord_fullwidth_one h2 span {
    font-size: 24px;
    color: #25b7b8;
    font-family: 'gothambookregular';
    font-weight: normal;
}
.leftimg {
    float: left;
    padding-bottom: 50px;
    padding-top: 30px;
}
.special_wrapper {
    width: 100%;
    float: left;
}
.specialization {
    border: 2px solid #cdcbca;
    width: 185px;
    height: 58px;
    line-height: 58px;
    float: left;
    text-align: center;
    margin-bottom: 25px;
    vertical-align: middle;
    margin-right: 10px;
}
.innercpec {
    display: table-cell !important;
    float: none;
    height: 53px;
    margin: 0 auto !important;
    text-align: center !important;
    vertical-align: middle !important;
    width: 185px;
}
.home .col-xs-12.firstrecord_fullwidth_one h2 {
    margin: 0px auto;
}
.specialization h2 a {
    color: #888888;
    font-size: 14px;
    font-family: 'gothambookregular';
    text-transform: lowercase;
    vertical-align: middle;
    font-weight: normal;
}
a:hover {
    color: #ff9200 !important;
	text-decoration:none;
}
.specialization:hover {
    border: 2px solid #f78f20 !important;
}
@media(min-width:1199px) and (max-width:1799px){
.container {
    width: 1007px;
    margin: 0 auto;
}
}
@media(max-width:767px){
	.specialization{
		margin-left:23%;}
		.col-xs-12.col-sm-3{
			padding:20px 0px;}
		}
		@media(min-width:767px) and (max-width:980px){
			.specialization{
		margin-left:13%;}
			}