@charset "utf-8";
/* CSS Document */
img{
	width:100%;
	border:none;}
@media(min-width:980px) and (max-width:1200px){
	.container{
		width:950px;}
		form#form {
			float:left;
			left:0;
			top: 72px; 
}
#heading {
    top: 9px;
    left: 75px;
    font-size: 20px;
}
input.text {
   
    width: 65%;
    top: 44px;
}
input.location {
   
    width: 65%;
    top: 44px;
}
input.min-exp {
   
    width: 65%;
    top: 44px;
}
input.max-exp {
   
    width: 65%;
    top: 44px;
}
input.search {
   
    width: 65%;
    top: 44px;
}
#h2 {
    
    top: 47px;
    color: #fff;
    float: right;
    right: 0;
    width: 46%;
}
#h4 {
   ;
    top: 171px; 
    float: right;
    right: 0px;
    width: 46%;
}
#learn {
   
    top: 260px;
   
    float: right;
    right: 70px;
}
#try {
  
    top: 260px;
    float: right;
    right: 196px;
}
.paragraph-part {
   padding:0;
    top: 312px;
    float: right;
    right: 0px;
    width: 46%;
    font-size: 12px;
}
	}
@media(min-width:767px) and (max-width:979px){
	.container{
		width:750px;
		}
		#heading {
    top: 14px;
    font-size: 16px;
}
form#form {   
    top: 65px;
}
input.text {
    line-height: 25px;
    width: 53%;
    float: left;
	margin-left:36px;
}
	}

