@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, input, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
}
.contaienr {
	margin: 0 auto;
	padding: 0;
	width: 1000px;
	overflow:hidden;
}
header {
}
.bannerpart {
	background: url(../images/White%20Light%20in%20Blue%20Sea%20Bottom.jpg);
	width: 100%;
	min-height: 500px;
	padding-bottom: 50px;
}
h1#h1 {
	margin-top: 30px;
	left: 65px;
	text-align: center;
	color: #fff;
	font-size: 26px;
}
form#form {
	margin-top: 35px;
	text-align: center;
	background: none;
	margin-left: -5%;
}
#heading {
	margin-top: 27%;
	color: #fff;
	margin-left: 18px;
}
input.text {
	line-height: 20px;
	width: 80%;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	background: #f8fbfd;
	color: #888;
	padding: 8px 10px;
	border-radius:3px;
}
input.location {
	line-height: 20px;
	width: 80%;
	border: 1px solid #ddd;
	background: #f8fbfd;
	color: #888;
	padding: 8px 10px;
	margin-bottom: 10px;
	border-radius:3px;
}
select#min-exp {
	width: 39.6%;
	height: 37px;
	border: 1px solid #fff;
	background: #f8fbfd;
	color: #888;
	padding: 2px 8px;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border-radius:3px;
}
select::-ms-expand {
 display: none;
}
option {
	padding: 0 10px;
	background: none;
	color: #39F;
}
#max-arrow {
	position: absolute;
	margin-top: 6px;
	right: 16%;
}
span#min-arrow {
	position: absolute;
	margin-top: 6px;
	left: 43%;
}
input.search {
	width: 80%;
	color: #fff;
	line-height: 37px;
	text-align: center;
	border: none;
	border-radius: 2px;
	background: rgba(68, 255, 0, 0.72);
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 12px;
}
input.search:hover {
	color: #F00;
	cursor: pointer;
}
.banner-content h2 {
	margin-top: 19%;
	color: #fff;
}
.banner-content p {
	margin: 15px 0 30px;
	color: #fff;
	font-size: 18px;
}
.jobseeker {
	line-height: 36px;
	color: #fff;
	background: #f5702e;
	width: 95%;
	margin-left: -18px;
	margin-bottom: 10px;
	border: 1px solid #bbb;
	font-weight:600;
}
.jobseeker:hover {
	border: 1px solid #bbb;
	color: #3F0;
}
.recuriter {
	line-height:36px;
	color: #fff;
	background: rgba(62, 206, 10, 0.62);
	width: 95%;
	margin-left: -18px;
	border: 1px solid #bbb;
}
.recuriter:hover {
	color: #F00;
	border: 1px solid #bbb;
}
.paragraph-part {
	padding: 20px;
	opacity: 0.3;
	background: #265bae;
	color: #ffffff;
	margin-top: 15%;
}
.jumbojob-paragraph h3 {
	text-align: center;
	font-size: 36px;
	color: #39F;
	font-weight: bold;
	margin-top: 100px;
}
.jumbojob-paragraph p {
	text-align: center;
}
.jumbojob-background-grey {
	padding-bottom: 80px;
	background: #CCC;
	width: 100%;
	text-align: center;
}
.jumbojob-background-grey img {
	margin: 20px 0 15px;
}
#imagepart {
	text-align: center;
}
#p-tag {
	color: #F00;
}
#six-image {
	margin-top: 40px;
}
.short-story {
	background: url(file:///D|/om-works/demo/images/business_ppt_background.jpg);
	min-height: 500px;
	padding: 100px;
	width: 100%;
}
.story-heading {
	font-weight: bold;
	margin-bottom: 30px;
	font-family: "MS Serif", "New York", serif;
	text-align: center;
}
.artical {
	text-align: center;
	font-style: italic;
	font-family: "MS Serif", "New York", serif;
	font-size: 1.3em;
}
.testimonials {
	padding: 4em 0;
	text-align: center;
	background: rgba(248, 126, 42, 0.12);
}
.testimonial-header h3, .project h3, .featured-section h3, .history h3, .team h3, .our-services h3, .our-offers h3 {
	text-align: center;
	font-size: 3em;
	text-transform: capitalize;
	font-family: 'Play', sans-serif;
	color: #F77E2A;
	font-weight: 600;
}
.testmonial-text p {
	font-size: 1em;
	line-height: 2em;
	color: #7C7C7C;
	margin: 0.8em 0;
}
.testmonial-text h4 a {
	font-size: 1.2em;
	color: #222;
	text-transform: capitalize;
	padding-top: 1em;
	font-weight: 600;
	text-decoration: none;
	font-family: 'Play', sans-serif;
}
.test-monials {
	margin-top: 3em;
}
.testmonial-text img {
	width: 150px;
	margin: 0 auto;
	border: 5px solid#164523;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.testmonial-text img:hover {
	margin: 0 auto;
	border: 5px solid#F77E2A;
	border-radius: 250px;
}
footer {
	width: 100%;
	background: #000;
	color: #fff;
}
footer h4 {
	margin: 50px 0 20px;
	font-size: 16px;
	border-bottom: 1px solid #3CC;
	padding-bottom: 4px;
}
.important-links li {
	color: #963;
}
.important-links li a {
	color: #963;
}
.important-links li a:hover {
	color: #FFF;
}
.icon li {
	display: inline-block;
	font-size: 30px;
	margin-right: 7px;
}
.icon li a {
	text-decoration: none;
}
.icon li a i:hover {
	color: #FFF;
}
.fa-facebook-official {
	color: #3b5998;
}
.fa-twitter-square {
	color: #1da1f2;
}
.fa-google-plus-square {
	color: #dc4e41;
}
.fa-linkedin-square {
	color: #0077b5;
}
.fa-flickr {
	color: #282828;
}
.fa-pinterest-square {
	color: #cb2027;
}
.fa-instagram {
	color: #e03566;
}
.fa-rss-square {
	color: #2d5be3;
}
.fa-tumblr-square {
	color: #37455c;
}
.fa-foursquare {
	color: #ee9865;
}
/*jumbojobs start jumbojobs-menu*/



  header{  border-top: 4px solid #34932b;
    background-color: #ed5605;
   
    min-height: 70px;
     vertical-align: middle; 
    width: 100%;
    margin-bottom: 8px;
}

.logo{
	max-width:200px;
	float:left;
	}
	.mini-nav.pull-right{
		margin-right:15px;
		font-size:14px;
		margin-top:18px;
		position:relative;}
		
		.dropdown-menu{
			    background-color: rgba(255, 255, 255, 0.94);
				
			min-width:auto !important;
			font-size:12px !important;}
			.dropdown-menu:hover{
				background-color:#06C !important;}
.mini-nav.pull-right span a{
	font-size:20px;
	}
i.fa.fa-users {
    font-size: 25px;
}
i.fa.fa-cog{
	font-size:25px;}
	a.profile-name {
    color: aliceblue;
    padding: 0px 10px;
	font-family: cursive;
}
a.profile-name:hover {
    text-decoration: none;
	 color: aliceblue;
}
i.fa.fa-angle-down {  
    font-size: 22px;}
	a.down-arrow{
		text-decoration:none;}
.dropdown {
margin-right:1px;
	min-width:130px;
	text-align:center;
	
}
.dropdown-toggle {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+5,f8b500+95,fbdf93+100 */
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 5%, rgba(248,181,0,1) 95%, rgba(251,223,147,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 5%,rgba(248,181,0,1) 95%,rgba(251,223,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 5%,rgba(248,181,0,1) 95%,rgba(251,223,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */




	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
}
.navbar-collapse .navbar-nav>li>a {
	color:#333 !important;
}
.dropdown-toggle:hover{
	/* IE10+ */ 
background-image: -ms-linear-gradient(left, #2474DE 0%, #2989D8 50%, #207CCA 51%, #1271DE 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(left, #2474DE 0%, #2989D8 50%, #207CCA 51%, #1271DE 100%);

/* Opera */ 
background-image: -o-linear-gradient(left, #2474DE 0%, #2989D8 50%, #207CCA 51%, #1271DE 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #2474DE), color-stop(50, #2989D8), color-stop(51, #207CCA), color-stop(100, #1271DE));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(left, #2474DE 0%, #2989D8 50%, #207CCA 51%, #1271DE 100%);

/* W3C Markup */ 
background-image: linear-gradient(to right, #2474DE 0%, #2989D8 50%, #207CCA 51%, #1271DE 100%);
	}
	.container-fluid{
	
		padding:0px !important;
		border:none;
		}
	.navbar-brand, .navbar-nav > li > a:hover{
				color:#FFF !important;}
	.navbar-default{
		background:none !important;
		
		border:none !important;}
		i.fa{
			font-size:12px;
			
			}
			.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
				color:#09F !important;}
				.navbar-nav>li>a{
					padding:5px !important;}

@media(max-width:767px){
	
		nav ul {
    list-style: outside none none;
}
	nav ul li{
		float:left !important;}
		.navbar-default .navbar-collapse, .navbar-default .navbar-form{
			background-color:none !important;}
		}
/*End jumbojobs-menu page*/





/*start jumbojobs job details page*/





.pull-left {
    
    margin-left: 8px;
}
.header-job-detail {
    margin-top: 0px;
    margin-bottom: 21px;
    margin-left: 5px;
}

.header-section {
	background: #fff;
	margin: 0 0 0 0;
	padding: 3px 15px;
}
#sub-title {
	font-size: 20px;
	color: #000;
}
#company-name a {
	text-decoration: none;
	color: #7abcff;
	font-weight: bold;
}
#icon li {
	display: inline-block;
	list-style: none;
	margin-right: 25px;
	color: #757575;
	font-size: 11px;
}
#ul-list li {
	display: inline-block;
	margin-right: 10px;
	list-style: none;
}
#ul-list {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee', GradientType=0 ); /* IE6-9 */
	padding: 10px;
}
#ul-list li a {
	text-decoration: none;
	color: #fff;
}
.active {
	color: #b4df5b;
}
#apply-btn {
	width: 30%;
	line-height: 30px;
	background: #11aef3;
	color: #fff;
	border: 1px solid #FFF;
}
#apply-btn:hover {
	background: #1897cf;
}
#save-btn {
	width: 15%;
	background: #FC3;
	border: none;
	line-height: 28px;
}
#save-btn:hover {
	border: 1px solid #06F;
}

#jumbo-tag {
	font-size: 25px;
	font-weight: bold;
	color: #000;
	list-style:none;
}
#p-tag {
	color: #757575;
}
.about {
	border: 1px solid #996;
	padding: 10px 10px;
	margin: 20px 0 0 15px;
	background: #FFF;
}

.similar-job {
	padding: 0 10px;
	background: #fff;
	margin: 20px 0 50px 15px;
	border: 1px solid #996;
}
#similar-job {
}
#similar-job-link {
	display: inline-block;
	width: 33%;
}
#similar-job-link li {
	list-style: none;
	margin-right:10px;
}
#similar-job-link li a {
	text-decoration: none;
}
#content {
	font-size: 11px;
	color: #757575;
}
.right-side {
	padding: 0 10px;
	background: #fff;
}
#right-side-top-image {
	margin-top: 15px;
	width: 100%;
}
#right-side-bottom-image {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 50px;
}
.right-side h4{
	
    margin-top: 30px;
    margin-bottom: 20px;
}

#h5-anchor-tag {
	text-emphasis: none;
}
#h5-anchor-tag:hover {
	text-decoration: none;
}
#links {
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
	margin-bottom:19px;
	font-size: 11px;
	color: #757575;
}


/*End jumbojobs job details page*/

/* Start Job seeker profile page*/

#profile-photo {
	width: 90%;
	margin-top: 60px;
}
p#add {
	margin-left: 5px;
	font-size: 10px;
	margin-top: 4px;
}
.header-part {
	margin-top: 20px;
}
.h3-border {
	border-bottom: 1px solid #39F;
}
#h3 {
}
input.download-btn {
	width: 100%;
	background-color: #3cf;
	border: none;
	border-radius: 3px;
	color: #fff;
	line-height: 26px;
	margin-top: 20px;
	margin-bottom: 15px;
}
#span {
	display: table-cell;
}
#p {
	display: table-header-group;
}
label {
	margin-right: 10%;
}
ul#ul-list {
	background-color: aliceblue;
	padding: 10px;
	margin-top: 20px;
}
#ul-list li {
	display: inline-block;
	margin-right: 5px;
	list-style: none;
}
#ul-list li a {
	text-decoration: none;
}
.ul-list {
	border-bottom: 1px solid coral;
}
span#span-detail {
}
.detail {
	margin-top: 30px;
	margin-bottom: 50px;
}

/*End Job Seeker profile page*/

/*Start Job search page*/
.row.no-gutter [class*='col-']:not(:first-child):not(:last-child) {
  padding-right:0;
  padding-left:0;
 
}
/* remove right padding from first column */
.row.no-gutter [class*='col-']:first-child {
  padding-right:0;
  padding-left:0;

}
/* remove left padding from first column */
.row.no-gutter [class*='col-']:last-child {
  padding-left:0;
  padding-right:0;
 

}


/* only for column content visible */
.col-lg-1>div {background-color:#ddd;}


	.main{
		width:100%;
		background: #EAECC6;}
	.form-background{
		background:rgba(255,255,255,.5);
		padding:40px;}
input.search-result-text-field {
    width: 100%;
    line-height: 37px;
    padding: 0 10px;
	border:1px solid #20ac76;
	margin-bottom:10px;	
}


select.exp {
    width: 100%;
    height: 39px;
    padding: 0 10px;
	border:1px solid #20ac76;
	-moz-appearance:none;
	-webkit-appearance:none;
	margin-bottom:10px;
}
#search-result-downarrow {
    position: absolute;
    top: 13px;
    right: 10px;
	cursor:pointer;
}
input.search-result-button {
    width: 100%;
    line-height: 37px;
	border:1px solid #20ac76;;
	background:#20ac76;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
   
}

/*End job search page*/

