
.searchbox {
	background: #00abaa;
	padding: 30px 0;
}
.searchbox.searchboxhome {
	padding: 0px;
}
.hleft {
	clear: both;
	background: url(../images/hosrizontal-divider.png) no-repeat bottom;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.h2thumb {
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 20px;
}
a img {
	border: none;
}
#main-content {
	line-height: 1.5;
}
.h2title {
	margin: 0px;
	padding: 0px;
}
.h2title a {
	font-family: 'gothamexlightregular';
	font-size: 20px;
	color: #fff;
}
.h2title span {
	font-weight: bold;
}
.excont p, .excont {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	padding-bottom: 20px;
}
.excont {
	clear: both;
}
.but {
	background: none repeat scroll 0 0 #009192;
	border-radius: 2px;
	padding: 7px 15px;
	width: auto;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.but a {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}
.checking {
	background: url(../images/vertical-divider.png) repeat-y scroll right center rgba(0, 0, 0, 0);
	padding-bottom: 50px;
	padding-top: 50px;
}
@media(max-width:767px) {
.checking {
	background: none;
}
.checking{
	padding:30px 0px;}
.but {
	margin-bottom: 0px;
}
}
.hleft {
	clear: both;
	background: url(../images/hosrizontal-divider.png) no-repeat bottom;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.h2thumb {
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 20px;
}
.checking {
	padding-left: 30px;
	padding-right: 30px;
}
.checking.col12345 {
	background: none !important;
}
.firstrecord_fullwidth_one {
	padding: 60px 0px 0px 0px;
	background: url(../images/handshake.jpg);
	background-repeat: no-repeat!important;
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	background-size: cover!important;
	width: 100%!important;
	margin-top: 0px !important;
	min-height: 473px !important;
	height: auto!important;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.firstrecord_fullwidth_one h2 span {
	font-size: 24px;
	color: #25b7b8;
	font-family: 'gothambookregular';
	font-weight: normal;
}
.specialisation {
    color: #105141;
}
.leftimg {
	float: left;
	padding-bottom: 50px;
	padding-top: 30px;
}
.special_wrapper {
	width: 100%;
	float: left;
}
.specialization {
	    border: 2px solid #cdcbca;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
 
}
.col-lg-2 {
   
    padding: 0px 5px;
}
	
@media(min-width:768px) and (max-width:980px){
	.innercpec li {
    list-style: none;
    height: 50px;
    vertical-align: middle;
  padding:0px !important;
    display: table-cell;
    width: 100px;}
	}
	.innercpec li {
    list-style: none;
	padding:10px;
 }
.home .firstrecord_fullwidth_one h2 {
	margin: 0px auto;
}
.specialization li a {
	color: #888888;
	font-size: 14px;
	font-family: 'gothambookregular';
	text-transform: lowercase;
	vertical-align: middle;
	font-weight: normal;
}
a:hover {
	color: #ff9200 !important;
	text-decoration: none;
}
.specialization:hover {
	border: 2px solid #f78f20 !important;
}
@media(min-width:768px) and (max-width:980px) {
.h2title a {
	font-size: 15px;
}
.h2thumb {
	margin-right: 5px;
}
}
