<div style="margin: auto;width: 80%;padding: 10px;font-family:Helvetica, Arial, sans-serif;">
	<div style="width:100% !important; line-height:1;color:#888; background:#ccc; margin:10px 0 40px; padding:0 1%">

		<table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px !important;border-collapse:collapse;margin:0 auto; padding:0">
				<tr style="height: 20px" height="20px"></tr>
				<tr>
					<td valign="top" style="border-collapse: collapse">
						<hr style="margin: 10px 0; border: 0">
					<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; width:100%; text-align:center;background: #ffffff">
								<tr>
								<td valign="top" style="border-collapse: collapse; width:50px"></td>
								<td style="border-collapse: collapse;width:500px;text-align:left;">
								<p style="color:#fff;margin:0px">"+nameContent+"</p>
								<p style="color:#fff;margin:0px">"+topContent+"</p>
								<td style="border-collapse: collapse; width: 50px"></td>
								</tr>
								<tr>
									<td valign="top" style="border-collapse: collapse; width: 50px"></td>
									<td style="border-collapse: collapse;width:500px">
									<h3	style="color: black !important;font-size:20px;">Now Recruiting Made Simpler and Easier</h3>
									<p style="line-height: 20px;font-size: 14px;margin: 1em 0">Jumbojobs is a fast growing job portal in India focused on expediting hiring.</p>
									<p style="line-height: 20px;font-size: 14px;margin: 1em 0">Jumbojobs is a Well designed recruitment platform, Great Dash Board Features, Simpler Design, Recruitment process Innovative, Quicker and Faster.</p>
									<h3	style="color: black !important;font-size:20px;">Now offering free Job Postings, Profiles Database Access at free of cost.</h3>
									</td>
									<td valign="top" style="border-collapse: collapse; width: 50px"></td>
								</tr>
								<tr>
								<td valign="top" style="border-collapse: collapse; width: 50px"></td>
								<td style="border-collapse: collapse;padding:20px 0px;width:500px; color: #1c1c1c; text-align: center; border-radius: 5px;"align="center">
								<a href="http://www.jumbojobs.com" title="Recruit now" style="color: #1c1c1c; text-decoration: none; border-radius: 5px; display: inline-block; text-align: center; width: 100%;font-size:18px;font-weight: 700; background:#00CCFF; padding: 12px 0"target="_blank">Recruit now </a>
								<p style="color:#fff;margin:0px">+bottomContent+</p>
								</td>
								<td valign="top" style="border-collapse: collapse; width: 50px"></td>
								</tr>
						</table>
						<hr style="margin: 30px 0; border: 0">
						<table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;text-align: center; color: #888; background: #aaa" width="100%">
								<tr style="height:10px" height="10px"></tr>
								<tr>
									<td valign="top" style="border-collapse: collapse;width:50px"></td>
									<td style="border-collapse: collapse;width:500px">
									<p style="line-height: 20px;font-size: 12px; margin: 1em 0">No longer want to hear about events run by jumbojobs? Click
									<a href="http://jumbojobs.com/email-unsubscribe" style="color: #ffc423;text-decoration: none" target="_blank">here </a>to unsubscribe.</p>
									</td>
									<td valign="top" style="border-collapse: collapse;width:50px"></td>
								</tr>
								<tr style="height:20px"></tr>
						</table>
					</td>
				</tr>
				<tr style="height:40px"></tr>
			</tbody>
		</table>
	</div>
	</div>