<div>
	<div>
		<center>
			<div>
				<img src="" height="1px" width="1px" class="CToWUd">
				<div style="width: 550px; margin: 0 auto; border: 1px solid #d2d2d2">
					<div
						style="font-family: Arial, sans-serif; font-size: 12px; line-height: 160%; color: #6b6b6b">
						<table cellpadding="12" cellspacing="0" width="550px" border="0"
							style="background: #fef2da; border-bottom: 1px solid #d5676a; font-size: 12px; font-family: Arial, sans-serif">
							<tbody>
								<tr>
									<td bgcolor="#FFFFFF"
										style="border-bottom: 1px solid #f4a522; padding: 9px 12px"
										colspan="2"><div
											style="color: #464847; font-size: 11px; font-family: Arial, sans-serif">
											<b>Don't miss our alerts.</b> Please add <a rel="nofollow"
												href="mailto:info@wisdomjobs.com"
												style="color: #464847; font-size: 11px; font-family: Arial, sans-serif; text-decoration: none"
												target="_blank">info@jumbojobs.com</a> to your contact list
											or mail may go into spam!
										</div></td>
								</tr>
								<tr>
									<td><img src="" alt="Jumbojobs" width="262" height="60"
										class="CToWUd"></td>
									<td align="right"><span
										style="color: #a41529; font-family: Arial, sans-serif; font-size: 14px; line-height: 145%">Don't
											just get listed</span><br>
									<span
										style="color: #a41529; font-family: Arial, sans-serif; font-size: 13px">GET
											SHORTLISTED!</span></td>
								</tr>
							</tbody>
						</table>
						<table cellpadding="15" cellspacing="0" width="550px" border="0"
							style="background: #fcf8f9; font-size: 12px; border-bottom: 1px solid #d5676a; font-family: Arial, sans-serif">

							<tbody>
								<tr>
									<td style="padding: 25px 15px" width="45%"><div
											style="color: #564c33; font-family: Arial, sans-serif; font-size: 15px">Dear
											laxman devasani,</div>
										<div
											style="color: #564c33; font-family: Arial, sans-serif; font-size: 21px">
											You have a lot of job oppurtunities!<br>
											<br>
											<span
												style="color: #564c33; font-family: Arial, sans-serif; font-size: 16px">Check
												out the open positions that match your profile.</span>
										</div></td>
									<td width="10%">&nbsp;</td>

								</tr>
							</tbody>
						</table>
						<table cellpadding="15" cellspacing="0" width="550px" border="0"
							style="background: #ffffff; font-size: 12px; font-family: Arial, sans-serif">
							<tbody>
								<tr>
									<td style="padding: 25px 15px 0px"><div
											style="font-family: Arial, sans-serif; font-size: 11px; color: #564c33; line-height: 16px">Here
											are a few openings that match your current profile on Wisdom
											Jobs. If you want to change the jobs you receive in the
											alert. update your profile by mentioning skills relevant to
											you.</div></td>
								</tr>
								<tr>
									<td style="padding: 15px 15px 15px">
										<table cellspacing="2" cellpadding="15" border="1"
											width="100%"
											style="background: #ffffff; font-size: 11px; border-collapse: collapse; border-color: #979797; font-family: Arial, sans-serif; text-align: left">
											<tbody>
												<tr style="color: #000">
													<th width="40">S No</th>
													<th>Job Title</th>
													<th>Location</th>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>1
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Java Developer - Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Bangalore</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>2
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Quapt Technologies - Java/J2EE
															Developer - Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Chennai</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>3
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Java Developer - Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Bangalore</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>4
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Lead Java Developer -
															J2EE/Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Hyderabad</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>5
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Lead DevelopmentArchitect - Core
															Java/J2EE/OOAD </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Bangalore</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>6
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Nalashaa Soluitons - Java Developer -
															Spring/Hibernate/ORM </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Bangalore</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>7
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Java Developer(struts and Hibernate)
													</a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Hyderabad /
														Secunderabad</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>8
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href=""
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Java Developer - Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Bangalore</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>9
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Java Developer/Sr Java Developer -
															Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Chennai</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>10
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Java Developer - Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Pune</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>11
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Walk-in for Java Professionals Exp.
															1.5-6 Years on 13th February 2016 </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Chennai</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>12
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Senior Software Engineer - Core Java
															- Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Pune</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>13
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Sr Java Developer - Spring/Hibernate
													</a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Delhi/NCR</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>14
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Java Developer - Multithreading/Data
															Structure/Algorithm </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Delhi/NCR/Bangalore/Noida/<wbr>Gurgaon
													</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>15
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Java Developers 3+ yrs for Bangalore
															Location. Interview in Bangalore </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Bengaluru/Bangalore</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>16
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Software Engineer - Product
															Development - Core Java/J2EE </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Bangalore</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>17
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Walk in for Java Developer(struts and
															Hibernate) </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Hyderabad /
														Secunderabad</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>18
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Java Developers 3+ yrs for Coimbatore
															Location. Interview in Chennai </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Coimbatore</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>19
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Trektechno - Java Developer -
															Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Hyderabad</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="text-align: center; border-bottom: #cccccc 1px solid"><strong>20
													</strong></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: #a5211f"
														target="_blank"> Senior Software Engineer - Product
															Development - Core Java/J2EE </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Bangalore</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<table cellpadding="15" cellspacing="0" width="550px" border="0"
							style="background: #fcf8f9; font-size: 12px; border-bottom: 1px solid #d5676a; font-family: Arial, sans-serif">

							<tbody>
								<tr>
									<td style="padding: 25px 15px" width="50%">
										<div
											style="color: #000000; font-family: Arial, sans-serif; font-size: 13px">
											Do you find these jobs relevant? <a rel="nofollow"
												style="color: #000000; font-size: 13px; font-family: Arial, sans-serif; text-decoration: none">Yes</a>
											| <a rel="nofollow"
												style="color: #000000; font-size: 13px; font-family: Arial, sans-serif; text-decoration: none">No</a>
										</div>
										<a rel="nofollow"
										style="color: #000000; font-size: 13px; font-family: Arial, sans-serif; text-decoration: none">
									</a>
									</td>
									<td width="50%" align="right">
										<table cellspacing="2" cellpadding="9" border="0" width="100%"
											style="background: #a42b34; border-collapse: collapse; text-align: center">
											<tbody>
												<tr>
													<td><a rel="nofollow"
														href="http://www.jumbojobs.com/job-seeker-login-registration"
														style="color: #ffffff; font-size: 15px; font-weight: bold; font-family: Arial, sans-serif; text-decoration: none"
														target="_blank">UPLOAD PROFILE </a></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr
									style="background: url() no-repeat 0 0">
									<td colspan="2" style="padding: 30px 70px" align="center">
										<div
											style="color: #d1d1d1; font-family: Arial, sans-serif; font-size: 13px; line-height: 130%">
											<b>We would love to hear from you on topics that matter
												to you as a job seeker. Cast your vote in our latest poll.</b>
										</div> <a rel="nofollow" href="#" style="text-decoration: none"
										target="_blank"><img
											src="" alt="have you say"
											align="center" border="0" class="CToWUd"></a>
									</td>
								</tr>
							</tbody>
						</table>
						<table cellpadding="15" cellspacing="0" width="550px" border="0"
							style="background: #fef2da; font-size: 12px; font-family: Arial, sans-serif">
							<tbody>
								<tr>
									<td
										style="border-bottom: 1px solid #d5676a; padding: 10px 15px"><div
											style="color: #494846; font-family: Arial, sans-serif; line-height: 17px">
											<b>We wish you all the best in getting shortlisted soon!<br>Team
												Wisdom
											</b>
										</div></td>
								</tr>
								<tr>
									<td style="padding: 9px 15px"><div
											style="color: #494846; font-size: 11px; font-family: Arial, sans-serif">
											This is a computer generated email. Please do not reply. You
											can <a rel="nofollow"
												href="#"
												style="text-decoration: none; color: #a3211f"
												target="_blank"><b>unsubscribe</b></a> from this mailing
											list.
										</div></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</center>
		<div class="yj6qo"></div>
		<div class="adL"></div>
	</div>
	<div class="adL">
		<br>
		<br>
	</div>
</div>