<div style="margin: auto;width: 80%;padding: 10px;font-family:Helvetica, Arial, sans-serif;">
				<div style="width: 550px; margin: 0 auto; border: 1px solid #d2d2d2">
					<div style="font-size: 12px; line-height: 160%; color: #6b6b6b">
						<table cellpadding="0" cellspacing="0" width="550px" border="0" style="background: #fef2da;  font-size: 12px;">
							<tbody>
								<tr>
									<td bgcolor="#FFFFFF" style="border-bottom: 1px solid #d2d2d2; padding: 9px 12px" colspan="2">
									<div style="color: #464847; font-size: 11px;">
											<b>Don't miss our alerts.</b> Please add 
											<a rel="nofollow" href="mailto:info@jumbojobs.com" style="color: #464847; font-size: 11px;text-decoration: none" target="_blank">info@jumbojobs.com</a> to your contact list
											or mail may go into spam!
										</div></td>
								</tr>
								<tr>
									<td bgcolor="#FFFFFF" style="text-align:right;padding-right:10px;padding-top:3px;">
									<a href="http://jumbojobs.com" target="_blank">
									<img src="http://www.jumbojobs.com/resources/appResImages/img/lgb.png" alt="Jumbojobs" width="200" height="50"></a>
									<p style="color: #fff;margin:0px;padding:0px;">+topContent+</p>
									</td>
								</tr>
							</tbody>
						</table>
						<table cellpadding="15" cellspacing="0" width="550px" border="0" style="background: #fcf8f9; font-size: 12px;">
								<tr>
									<td style="padding:10px 10px" width="45%">
									<div style="color: #564c33;font-size: 15px">Hi Arya,</div>
										<div style="color:#8F0A2D; font-size: 21px"> You have a lot of job oppurtunities!<br><br>
											<span style="color: #564c33; font-size: 16px">Check out the open positions that match your profile.</span>
										</div></td>
									<td width="10%">&nbsp;</td>
								</tr>
						</table>
						<table cellpadding="15" cellspacing="0" width="550px" border="0" style="background: #ffffff; font-size: 12px;">
								<tr>
									<td style="padding: 15px 15px 15px">
										<table cellspacing="2" cellpadding="15" border="1"
											width="100%"
											style="background: #ffffff; font-size: 11px; border-collapse: collapse; border-color: #979797; text-align: left">
											<tbody>
												<tr style="color: #000">
													<th align="center">Job Title</th>
													<th align="center">Location</th>
												</tr>
												<tr>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8);"
														target="_blank"> Java Developer - Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">
														<a
							style="text-align: center; font-weight: bold; margin-right: 8px; text-decoration: none" href="http://jumbojobs.com" target="_blank">Apply</a>
														
														</td>
												</tr>
												<tr>
													
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Quapt Technologies - Java/J2EE
															Developer - Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Chennai</td>
												</tr>
												<tr>
													
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Java Developer - Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Bangalore</td>
												</tr>
												<tr>
													
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Lead Java Developer -
															J2EE/Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Hyderabad</td>
												</tr>
												<tr>
													
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Lead DevelopmentArchitect - Core
															Java/J2EE/OOAD </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Bangalore</td>
												</tr>
												<tr>
													
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Nalashaa Soluitons - Java Developer -
															Spring/Hibernate/ORM </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Bangalore</td>
												</tr>
												<tr>
													
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Java Developer(struts and Hibernate)
													</a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Hyderabad /
														Secunderabad</td>
												</tr>
												<tr>
													
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href=""
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Java Developer - Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Bangalore</td>
												</tr>
												<tr>
													
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Java Developer/Sr Java Developer -
															Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Chennai</td>
												</tr>
												<tr>
													
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Java Developer - Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Pune</td>
												</tr>
												<tr>
													
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Walk-in for Java Professionals Exp.
															1.5-6 Years on 13th February 2016 </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Chennai</td>
												</tr>
												<tr>
													
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Senior Software Engineer - Core Java
															- Spring/Hibernate </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Pune</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Sr Java Developer - Spring/Hibernate
													</a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Delhi/NCR</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Java Developer - Multithreading/Data
															Structure/Algorithm </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Delhi/NCR/Bangalore/Noida/<wbr>Gurgaon
													</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Java Developers 3+ yrs for Bangalore
															Location. Interview in Bangalore </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Bengaluru/Bangalore</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Software Engineer - Product
															Development - Core Java/J2EE </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Bangalore</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Walk in for Java Developer(struts and
															Hibernate) </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Hyderabad /
														Secunderabad</td>
												</tr>
												<tr>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid"><a
														rel="nofollow"
														href="http://www.jumbojobs.com/"
														style="text-decoration: none; color: rgba(0,0,255,0.8)"
														target="_blank"> Walk in for Java Developer(struts and
															Hibernate) </a></td>
													<td height="35" align="center"
														style="border-bottom: #cccccc 1px solid">Hyderabad /
														Secunderabad</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
						</table>
						<p style="color: #fff;margin:0px;padding:0px;">dfdfaferereredfdfaferereredfdfaferereredfdfaferereredfdfaferereredfdfaferereredfdfafererere</p>
						<table cellpadding="12" cellspacing="0" width="550px" border="0"
							style="background: #fcf8f9; font-size: 12px; border-bottom: 1px solid #d2d2d2;">

							<tbody>
								<tr>
									<td style="padding:15px 15px" width="50%">
										<div
											style="color: #000000; font-size: 13px">
											Do you find these jobs relevant? <a rel="nofollow"
												style="color: #000000; font-size: 13px; text-decoration: none">Yes</a>
											| <a rel="nofollow"
												style="color: #000000; font-size: 13px; text-decoration: none">No</a>
										</div>
										<a rel="nofollow"
										style="color: #000000; font-size: 13px; text-decoration: none">
									</a>
									</td>
									<td width="50%" align="right">
										<table cellspacing="2" cellpadding="9" border="0" width="100%"
											style="background: #33ffcc; border-collapse: collapse; text-align: center">
											<tbody>
												<tr>
													<td><a rel="nofollow"
														href="http://www.jumbojobs.com/job-seeker-login-registration"
														style="color: #ffffff; font-size: 15px; font-weight: bold; text-decoration: none"
														target="_blank">UPLOAD PROFILE </a></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								
							</tbody>
						</table>
						<table cellpadding="15" cellspacing="0" width="550px" border="0"
							style="font-size: 12px;">
							<tbody>
								<tr>
								</tr>
								<tr>
									<td style="padding: 9px 15px"><div
											style="color: #494846; font-size: 11px;">
											This is a computer generated email. Please do not reply. You
											can <a rel="nofollow"
												href="http://jumbojobs.com/common/email-unsubsribe.htm"
												style="text-decoration: none; color: rgba(0,0,255,0.8)"
												target="_blank"><b>unsubscribe</b></a> from this mailing
											list.
										</div></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		<div class="yj6qo"></div>
		<div class="adL"></div>
	</div>
	<div class="adL">
		<br>
		<br>
